<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= page.title %></title>
		<link rel="stylesheet" href="/public/page.css" />
		<title><%page.title%></title>
	</head>
	<body>
		<%- include('../partials/header') %>
		<div id="content">
			<h1 id="title"><%= page.title %></h1>
			<p id="author">
				Senest ændret af <%= page.author%> d. <%= page.timestamp %>
			</p>
			<p id="tags">Tags: <%= page.tags%></p>
			<br />
			<%- page.text _%><br />
		</div>
		z <%- include('../partials/footer') %>
	</body>
</html>
