<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= page.title %></title>
		<link rel="stylesheet" href="/public/page.css" />
		<title><%page.title%></title>
	</head>
	<body>
		<%- include('../partials/header') %>
		<div id="content">
			<h1 id="title"><%= page.title %></h1>
			<p id="author">
				Senest ændret af <%= page.author%> d. <%= page.timestamp %>
			</p>
			<p id="tags">Tags: <%= page.tags%></p>
			<br />
			<%- page.text _%><br />

			<br />
			<br />
			<hr />
			<em
				>Alt på denne wiki er licenseret under
				<a href="https://creativecommons.org/licenses/by-sa/4.0/"
					>CC-BY-SA 4.0</a
				></em
			>
			<br />
			<% if (page.copyright) {%>
			<em
				>Dele af siden stammer fra artiklen
				<a href="https://niraham.fandom.com/da/wiki/<%=page.copyright%>"
					><%=page.copyright%></a
				>
				på <a href="https://niraham.fandom.com/da/wiki/">Niraham Wiki</a> hos
				<a href="https://www.fandom.com/">Fandom</a></em
			>
			<% } %>
		</div>
		z <%- include('../partials/footer') %>
	</body>
</html>
